<h1>reverse</h1>
<ul>
  <li *ngFor="let num of list | reverse : 3">{{num}}</li>
</ul>
<h1>string</h1>
<ul>
  <li>{{name | uppercase | reverse : 3 }}</li>
</ul>
<h1>number</h1>
<ul>
  <li>{{pi}}</li>
  <li>{{pi | reverse | number }}</li>
  <li>{{pi | number : '2.5-6' }}</li>
  <li>{{pi | number : '2.5-6' : 'en' }}</li>
</ul>
<h1>date</h1>
<ul>
  <li>{{today}}</li>
  <li>{{today | date }}</li>
  <li>{{today | date : 'full' }}</li>
  <li>{{today | date : 'full' : '-0800' }}</li>
  <li>{{today | date : 'full' : '-0800' : 'en' }}</li>
</ul>
