<form novalidate #myForm="ngForm" (submit)="send( myForm )"
      (reset)="reset( myForm, $event )">

  <input type="text"
         autocomplete="name"
         placeholder="name"
         name="name"
         #name="ngModel"
         postFormater
         [ngModel]="initVal.name"  required
  >
  <span ngModelGroup="credentials">
        <input name="email" #email="ngModel" [ngModel]="initVal.credentials.email" autocomplete="email" type="email"
               placeholder="email" required email >
        <ng-template [ngIf]="email.errors">
          <div *ngIf="email.errors?.required">Dieser Wert ist erforderlich</div>
          <div *ngIf="email.errors?.email">Tragen Sie eine gültige Mail Adresse ein</div>
        </ng-template>
        <input name="password" #password="ngModel" [ngModel]="initVal.credentials.password" autocomplete="password"
               type="password" placeholder="password"  required>
        <input name="password2" #password2="ngModel" ngModel type="password" placeholder="password"
               [postEqualValidator]="password.value" autocomplete="password2">
        <input name="date" #date="ngModel" ngModel type="date" placeholder="date" autocomplete="date" postFutureValidator>
        </span>

  <button type="submit" [disabled]="myForm.invalid || !myForm.dirty">senden</button>
  <button type="reset" [disabled]="!myForm.dirty">reset</button>

</form>

<p>{{myForm.errors | json}}</p>
<p>{{password.errors | json}}</p>
<p>{{password2.errors | json}}</p>
<p>{{date.errors | json}}</p>
