
<h4 *ngIf="!$user.selectedUser; else elseBlock">Kein User selektiert</h4>
<ng-template #elseBlock>
  <h4>{{$user.selectedUser.firstname}} {{$user.selectedUser.lastname}}</h4>
</ng-template>

<dvz-user-list-item
  [user]="user"
  (selectUsr)="$user.setSelectedUser( $event )"
  [isSelected]="$user.selectedUser===user"
  *ngFor="let user of $user.userList; even as e; odd as o; index as i"
  [ngClass]="{odd: o, even: e, ten: (i+1)%3===0}"
>
</dvz-user-list-item>



<button (click)="$user.addNewUser()">add</button>
<button [dvzDangerBtn]="'Willst du ' + $user.selectedUser.firstname + ' wirklich löschen?'"
  *ngIf="$user.selectedUser"
        (confirmed)="$user.removeSelectedUser()"
        >del {{$user.selectedUser.firstname}} {{$user.selectedUser.lastname}}</button>



