<h1>user list</h1>
<h2 [class]="className" *ngIf="selectedUsr; else elseBlock">
  {{selectedUsr.firstname}}
  {{selectedUsr.lastname}}
  {{selectedIndex}}
</h2>
<ng-template #elseBlock>
  <h2>kein user ausgewählt</h2>
</ng-template>


<ng-template [ngIf]="selectedIndex % 2 === 0">
  <h3>company</h3>
  <address>netTrek - overbgerstr</address>
</ng-template>


<pr-user-list-item [selected]="0 === selectedIndex"
                   [user]="userList[0]"
                   (select)="setAsSelected($event)"></pr-user-list-item>
<pr-user-list-item [selected]="1 === selectedIndex"
                   [user]="userList[1]"
                   (select)="setAsSelected($event)"></pr-user-list-item>
<pr-user-list-item [selected]="2 === selectedIndex"
                   [user]="userList[2]"
                   (select)="setAsSelected($event)"></pr-user-list-item>


<!--<pr-user-list-item [selected]="1 === selectedIndex"-->
                   <!--(click)="selectIndex (1, $event)" ></pr-user-list-item>-->
<!--<pr-user-list-item [selected]="2 === selectedIndex"-->
                   <!--(click)="selectIndex (2, $event)" ></pr-user-list-item>-->
<!--<pr-user-list-item [selected]="3 === selectedIndex"-->
                   <!--(click)="selectIndex (3, $event)" ></pr-user-list-item>-->

<button (click)="selectNextUsr()">next</button>
