<!--
<p class="saban" [class.selected]="selectedUser">
  user-list works! {{selectedUser | json}}
</p>
-->

<!-- nicht 2x ngIf
<h3 *ngIf="selectedUser">{{selectedUser.firstname}}</h3>
<h3 *ngIf="selectedUser">{{selectedUser.lastname}}</h3>
-->
<!--
bitte so bei mehrmaligen ngIf
<ng-template [ngIf]="selectedUser">
<h3>{{selectedUser.firstname}}</h3>
<h3>{{selectedUser.lastname}}</h3>
</ng-template>
-->

<h4 *ngIf="!selectedUser; else elseBlock">Kein User selektiert</h4>
<ng-template #elseBlock>
  <h4>{{selectedUser.firstname}} {{selectedUser.lastname}}</h4>
</ng-template>

<dvz-user-list-item
  [user]="user"
  (selectUsr)="setSelectedUser( $event )"
  [isSelected]="selectedUser===user"
  *ngFor="let user of userList; even as e; odd as o; index as i"
  [ngClass]="{odd: o, even: e, ten: (i+1)%3===0}"
>
</dvz-user-list-item>
<!--

<ul>
  <li *ngFor="let val of ['saban','peter','frank','paula']; even as e; odd as o; index as ind; first as f; last as l">
    {{val}} {{ind}} {{e}} {{o}}
  </li>
</ul>
-->


<button (click)="addNewUser()">add</button>
<button [dvzDangerBtn]="'Willst du ' + selectedUser.firstname + ' wirklich löschen?'"
  *ngIf="selectedUser"
        (confirmed)="removeSelectedUser()"
        >del {{selectedUser.firstname}} {{selectedUser.lastname}}</button>
<!--

        (click)="removeSelectedUser()">del {{selectedUser.firstname}} {{selectedUser.lastname}}</button>
-->

<!--
<dvz-user-list-item
  [user]="userList[0]"
  (selectUsr)="setSelectedUser( $event )"
  [isSelected]="selectedUser===userList[0]">
</dvz-user-list-item>
<dvz-user-list-item
  [user]="userList[1]"
  (selectUsr)="setSelectedUser( $event )"
  [isSelected]="selectedUser===userList[1]">
</dvz-user-list-item>
-->


