<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<pl-user></pl-user>

<pl-user-list>


  <pl-user-list-header>Abteilung Entwickung</pl-user-list-header>


  <pl-user-list-item>Saban Ünlü</pl-user-list-item>
  <pl-user-list-item>Peter Müller</pl-user-list-item>
  <pl-user-list-item>Frank</pl-user-list-item>
  <pl-user-list-item>Paula</pl-user-list-item>

</pl-user-list>

<router-outlet></router-outlet>
