<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h1 *ngIf="$reqCounter.loading$ | async">loading</h1>
<pr-user-list></pr-user-list>


<!--
<pr-countdown style="width: 200px"></pr-countdown>
<pr-rxjs-samples></pr-rxjs-samples>
<pr-pipe-samples></pr-pipe-samples>
-->


<!--
<pr-pizzas style="float: left"></pr-pizzas>
<pr-pizzas style="float: left"></pr-pizzas>
<pr-pizzas style="float: left"></pr-pizzas>
-->




<router-outlet></router-outlet>
