<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--
<dvz-countdown></dvz-countdown>
<dvz-countdown style="width: 50%"></dvz-countdown>
<dvz-pipe-sample></dvz-pipe-sample>
<dvz-rxjs-sample></dvz-rxjs-sample>
<dvz-user-list></dvz-user-list>
<dvz-home></dvz-home>
-->

<nav>
  <a routerLink="home" routerLinkActive="active">home</a> |
  <a routerLink="dash" routerLinkActive="active">dash</a> |
  <a routerLink="contact" routerLinkActive="active">contact</a> |
  <a routerLink="user" routerLinkActive="active">user</a>
</nav>

<router-outlet></router-outlet>

<footer>dvz gmbh</footer>
