/* You can add global styles to this file, and also import other style files */

@import "variables";

body {
  background-color: lightgray;
}


h1 {
  color: $primaryColor;
}

a.active {
  color: $primaryColor;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
