<!--

export interface User {
  id?: number;
  firstname: string;
  lastname: string;
  birthday: string;
}
-->
<form #dateForm="ngForm">
  <input type="date" ngModel #myDate="ngModel" name="myDate" prFuture>
  <input type="text" ngModel #myNo="ngModel" name="myNo" prFormater>
</form>
<p>{{myDate.value | json}}</p>
<p>{{myDate.errors | json}}</p>

<form novalidate [formGroup]="myForm" (submit)="addNewUser( myForm )" (reset)="resetForm( myForm )">
  <ng-template ngFor [ngForOf]="payloadCtrls" [ngForTemplate]="input"></ng-template>
  <ng-template #input let-payloadItem>
    <input [type]="payloadItem.type" [placeholder]="payloadItem.key" [formControl]="payloadItem.ctrl">
    <div *ngIf="payloadItem.ctrl.errors && payloadItem.ctrl.touched">
      <ng-template [ngIf]="payloadItem.ctrl.errors?.minlength">
        Min noch nicht erreicht
      </ng-template>
      <ng-template [ngIf]="payloadItem.ctrl.errors?.maxlength">
        Max überschritte
      </ng-template>
      <ng-template [ngIf]="payloadItem.ctrl.errors?.required">
        Bitte Wert eintrage
      </ng-template>
      <ng-template [ngIf]="payloadItem.ctrl.errors?.email">
        Dies ist keine eMail
      </ng-template>
      <ng-template [ngIf]="payloadItem.ctrl.errors?.isFutur">
        Datum muss in der Zukunft liegen!
      </ng-template>
    </div>

  </ng-template>
  <button type="submit" [disabled]="myForm.invalid">submit</button>
  <button type="reset" [disabled]="!myForm.dirty">rest</button>
</form>
<!--
<form #myForm="ngForm" novalidate (submit)="addNewUser( myForm )" (reset)="resetForm( myForm )">
  <div>
    FIRSTNAME
    <input type="text" name="firstname" ngModel
           [ngModelOptions]="{updateOn: 'blur'}"
           required
           #firstname="ngModel"  placeholder="firstname">
  </div>
  <div>
    LASTNAME
    <input type="text" name="lastname" ngModel
           required minlength="3" maxlength="10"
           [ngModelOptions]="{updateOn: 'blur'}"
           #lastname="ngModel" placeholder="lastname">
    <div *ngIf="lastname.errors && lastname.touched">
      <ng-template [ngIf]="lastname.errors?.minlength">
        Wert min. 3 Zeichen lang
      </ng-template>
      <ng-template [ngIf]="lastname.errors?.required">
        Bitte Wert eintrage
      </ng-template>
    </div>
  </div>
  <div>
    BIRTHDAY
    <input type="text" name="birthday" ngModel
           #birthday="ngModel" placeholder="birthday">
  </div>
  &lt;!&ndash;
  <select name="city" ngModel #city="ngModel">
    <option value="123" selected>123</option>
  </select>
  &ndash;&gt;
  <button type="submit" [disabled]="myForm.invalid">submit</button>
  <button type="reset" [disabled]="!myForm.dirty">rest</button>

</form>
<!--<p> {{myForm.value | json }}</p>-->

